{{>layouts/header}}

<div class="container custom-container">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">스터디 신청자 명단</h5>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0 table-nowrap">
                        <thead class="small text-uppercase bg-body text-muted">
                        <tr>
                            <th style="white-space: nowrap; width: 150px;">이름</th>
                            <th style="white-space: nowrap; width: 200px;">이메일</th>
                            <th style="white-space: nowrap; width: 200px;">신청 날짜</th>
                            <th style="white-space: nowrap;">자기소개</th>
                            <th class="text-end" style="white-space: nowrap; width: 100px;">승인/거절</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#studyJoinList}}
                            <tr class="align-middle">
                                <td style="white-space: nowrap;">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="h6 mb-0 lh-1">{{user.username}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td style="white-space: nowrap;">{{user.email}}</td>
                                <td style="white-space: nowrap;">{{joinDate}}</td>
                                <td>{{introduction}}</td>
                                <td class="text-end" style="white-space: nowrap;">
                                    <form action="/study/apply/accept" method="post" style="display:inline;">
                                        <input type="hidden" name="joinId" value="{{joinId}}">
                                        <input type="hidden" name="studyId" value="{{study.studyId}}">
                                        <button type="submit" class="btn btn-success btn-sm">
                                            <i class="fa-solid fa-check" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                    <form action="/study/apply/reject" method="post" style="display:inline;">
                                        <input type="hidden" name="joinId" value="{{joinId}}">
                                        <input type="hidden" name="studyId" value="{{study.studyId}}">
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <i class="fa-solid fa-x" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {{/studyJoinList}}
                        </tbody>
                    </table>
                    <div class="text-danger" style="min-height: 8px;">{{#error_apply}}{{error_apply}}{{/error_apply}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layouts/footer}}
