{{>layouts/header}}

<section class="h-100 h-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">

                    <form class="px-md-2" action="/study/apply" method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            <img id="imagePreview" src="{{#studyDto}}{{photoPath}}{{/studyDto}}" class="img-fluid mb-3" alt="Image Preview" style="width: 100%; height: 260px; object-fit: cover;">
                            <div class="text-danger mb-2" style="min-height: 8px;">{{#error_photoPath}}{{error_photoPath}}{{/error_photoPath}}</div>
                        </div>

                        <input type="hidden" name="studyId" value="{{studyId}}">

                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">스터디 신청</h3>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" class="form-control" name="username" value="{{username}}" disabled/>
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" class="form-control" name="email" value="{{email}}" disabled/>
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <textarea class="form-control" name="introduction" placeholder="자기 소개">{{#studyJoinDto}}{{introduction}}{{/studyJoinDto}}</textarea>
                                <div class="text-danger" style="min-height: 8px;">{{#error_apply}}{{error_apply}}{{/error_apply}}</div>
                            </div>

                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-lg mb-1">신청</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

{{>layouts/footer}}
