{{>layouts/header}}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">회원가입</h2>
                            <p class="text-white-50 mb-5">회원가입 정보를 입력해주세요!</p>

                            <form action="/register" method="post" modelAttribute="registerDto">
                                <div class="form-outline form-white mb-4">
                                    <input type="text" name="userId" value="{{#registerDto}}{{registerDto.userId}}{{/registerDto}}" placeholder="ID" class="form-control form-control-lg" />
                                    {{#error_userId}} <span class="alert alert-danger">{{error_userId}}</span> {{/error_userId}}
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password" name="password" value="{{#registerDto}}{{registerDto.password}}{{/registerDto}}" placeholder="PASSWORD" class="form-control form-control-lg" />
                                    {{#error_password}} <span class="alert alert-danger">{{error_password}}</span> {{/error_password}}
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="text" name="username" value="{{#registerDto}}{{registerDto.username}}{{/registerDto}}" placeholder="NAME" class="form-control form-control-lg" />
                                    {{#error_username}} <span class="alert alert-danger">{{error_username}}</span> {{/error_username}}
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="text" name="birth" value="{{#registerDto}}{{registerDto.birth}}{{/registerDto}}" placeholder="BIRTH ex)yyyy/mm/dd" class="form-control form-control-lg" />
                                    {{#error_birth}} <span class="alert alert-danger">{{error_birth}}</span> {{/error_birth}}
                                </div>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">회원가입</button>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>layouts/footer}}