{{>layouts/header}}

<!-- Study List -->
<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center" style="height: 100%;">
        <div class="col-12 col-md-12 col-lg-10 col-xl-9">
            <div class="card text-white" style="border-radius: 1rem; background-color: #002244;">
                <div class="card-body p-5 text-center">

                    <div class="row">
                        <!-- Image Upload Section -->
                        <div class="col-md-6 mb-4">
                            <div class="image-preview mb-4" style="width: 350px; height: 170px; border: 1px solid #ccc;">
                                <!-- Preview will be shown here -->
                            </div>

                            <div class="input-group mb-4">
                                <input type="file" class="form-control" id="file-upload">
                                <label class="input-group-text" for="file-upload">Upload</label>
                            </div>
                        </div>

                        <!-- User Input Section -->
                        <div class="col-md-6 mb-4">
                            <div class="input-group mb-4">
                                <span class="input-group-text"><i class="bi-person"></i></span>
                                <input type="text" class="form-control" placeholder="Username">
                            </div>

                            <div class="input-group mb-4">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>

                    </div>

                    <div class="input-group mb-4">
                        <span class="input-group-text">스터디 설명</span>
                        <textarea class="form-control"></textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{{>layouts/footer}}