{{>layouts/header}}

<!-- Study List -->
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {{#studies}}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="/study/info?studyId={{studyId}}" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="{{photoPath}}" alt="{{studyName}}" style="width: 100%; height: 225px;">
                        </a>
                        <div class="card-body">
                            <p class="card-text" style="margin-bottom: 0.5rem;"><strong>{{studyName}}</strong></p>
                            <p class="card-text text-truncate">{{description}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/study/info?studyId={{studyId}}" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <small class="text-muted">{{createdAt}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {{/studies}}
        </div>

        <!-- Pagination -->
        <div class="mt-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item {{^hasPrevious}}disabled{{/hasPrevious}}">
                        <a class="page-link" href="/study?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item {{^hasPrevious}}disabled{{/hasPrevious}}">
                    <a class="page-link" href="{{#hasPrevious}}/study?page={{prevPage}}{{/hasPrevious}}" aria-label="Previous">
                        <span aria-hidden="true">&lsaquo;</span>
                        </a>
                    </li>
                    {{#pages}}
                        <li class="page-item {{#isCurrent}}active{{/isCurrent}}">
                            <a class="page-link" href="/study?page={{page}}">{{page}}</a>
                        </li>
                    {{/pages}}
                    <li class="page-item {{^hasNext}}disabled{{/hasNext}}">
                    <a class="page-link" href="{{#hasNext}}/study?page={{nextPage}}{{/hasNext}}" aria-label="Next">
                        <span aria-hidden="true">&rsaquo;</span>
                        </a>
                    </li>
                    <li class="page-item {{^hasNext}}disabled{{/hasNext}}">
                        <a class="page-link" href="/study?page={{totalPages}}" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

{{>layouts/footer}}
